.elementor-1186 .elementor-element.elementor-element-b5e6dfb>.elementor-container {
    min-height: 550px;
}

.elementor-1186 .elementor-element.elementor-element-b5e6dfb:not(.elementor-motion-effects-element-type-background),
.elementor-1186 .elementor-element.elementor-element-b5e6dfb>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("About\ us_FAQ.jpg.crdownload");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-1186 .elementor-element.elementor-element-b5e6dfb>.elementor-background-overlay {
    background-color: var(--e-global-color-e5e9561);
    opacity: 0.7;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1186 .elementor-element.elementor-element-b5e6dfb {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: -195px;
    margin-bottom: 100px;
    padding: 0px 15px 0px 15px;
}

.elementor-1186 .elementor-element.elementor-element-91e937f>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 150px 0px 0px 0px;
}

.elementor-1186 .elementor-element.elementor-element-91e937f>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1186 .elementor-element.elementor-element-0442104 {
    text-align: center;
}

.elementor-1186 .elementor-element.elementor-element-0442104 .elementor-heading-title {
    color: var(--e-global-color-21bfb04);
}

.elementor-1186 .elementor-element.elementor-element-76fa51d>.elementor-background-overlay {
    opacity: 0.3;
}

.elementor-1186 .elementor-element.elementor-element-76fa51d {
    margin-top: 0px;
    margin-bottom: 100px;
    padding: 0px 15px 0px 15px;
}

.elementor-1186 .elementor-element.elementor-element-2dd9498>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 18px;
}

.elementor-1186 .elementor-element.elementor-element-2dd9498>.elementor-element-populated {
    padding: 0px 80px 0px 0px;
}

.elementor-1186 .elementor-element.elementor-element-407ece0 {
    text-align: left;
}

.elementor-1186 .elementor-element.elementor-element-407ece0 .elementor-heading-title {
    color: var(--e-global-color-primary);
    font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
    font-size: var(--e-global-typography-secondary-font-size);
    font-weight: var(--e-global-typography-secondary-font-weight);
    line-height: var(--e-global-typography-secondary-line-height);
}

.elementor-1186 .elementor-element.elementor-element-8e3a47a .elementor-heading-title {
    color: var(--e-global-color-secondary);
}

.elementor-1186 .elementor-element.elementor-element-3cb0dba .elementor-tab-title {
    border-width: 0px;
    background-color: var(--e-global-color-21bfb04);
    padding: 22px 22px 22px 22px;
}

.elementor-1186 .elementor-element.elementor-element-3cb0dba .elementor-tab-content {
    border-width: 0px;
    background-color: #FFFFFF;
    padding: 0px 20px 20px 20px;
}

.elementor-1186 .elementor-element.elementor-element-3cb0dba .elementor-toggle-item:not(:last-child) {
    margin-bottom: 20px;
}

.elementor-1186 .elementor-element.elementor-element-3cb0dba .elementor-toggle-item {
    box-shadow: 0px 0px 13px -4px rgba(0, 0, 0, 0.2);
}

.elementor-1186 .elementor-element.elementor-element-3cb0dba .elementor-toggle-title,
.elementor-1186 .elementor-element.elementor-element-3cb0dba .elementor-toggle-icon {
    color: var(--e-global-color-text);
}

.elementor-1186 .elementor-element.elementor-element-3cb0dba .elementor-toggle-icon svg {
    fill: var(--e-global-color-text);
}

.elementor-1186 .elementor-element.elementor-element-3cb0dba .elementor-toggle-title {
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
    font-size: var(--e-global-typography-accent-font-size);
    font-weight: var(--e-global-typography-accent-font-weight);
    line-height: var(--e-global-typography-accent-line-height);
}

.elementor-1186 .elementor-element.elementor-element-3cb0dba>.elementor-widget-container {
    margin: 15px 0px 0px 0px;
}

.elementor-bc-flex-widget .elementor-1186 .elementor-element.elementor-element-3ec341b.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-1186 .elementor-element.elementor-element-3ec341b.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-1186 .elementor-element.elementor-element-3ec341b>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
}

.elementor-1186 .elementor-element.elementor-element-3ec341b:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-1186 .elementor-element.elementor-element-3ec341b>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-primary);
}

.elementor-1186 .elementor-element.elementor-element-3ec341b>.elementor-element-populated>.elementor-background-overlay {
    opacity: 0.3;
}

.elementor-1186 .elementor-element.elementor-element-3ec341b>.elementor-element-populated,
.elementor-1186 .elementor-element.elementor-element-3ec341b>.elementor-element-populated>.elementor-background-overlay,
.elementor-1186 .elementor-element.elementor-element-3ec341b>.elementor-background-slideshow {
    border-radius: 25px 25px 25px 25px;
}

.elementor-1186 .elementor-element.elementor-element-3ec341b>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 40px 20px 40px 20px;
}

.elementor-1186 .elementor-element.elementor-element-3ec341b>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1186 .elementor-element.elementor-element-4638f50 {
    text-align: center;
}

.elementor-1186 .elementor-element.elementor-element-4638f50 .elementor-heading-title {
    color: #FFFFFF;
}

.elementor-1186 .elementor-element.elementor-element-4638f50>.elementor-widget-container {
    margin: 0px 10px 13px 10px;
    padding: 15px 15px 15px 15px;
    background-color: var(--e-global-color-secondary);
    border-radius: 25px 25px 25px 25px;
}

.elementor-1186 .elementor-element.elementor-element-2ff006a {
    text-align: center;
    color: var(--e-global-color-ad41708);
}

.elementor-1186 .elementor-element.elementor-element-a1caa39 .elementor-field-group {
    padding-right: calc(15px/2);
    padding-left: calc(15px/2);
    margin-bottom: 20px;
}

.elementor-1186 .elementor-element.elementor-element-a1caa39 .elementor-form-fields-wrapper {
    margin-left: calc(-15px/2);
    margin-right: calc(-15px/2);
    margin-bottom: -20px;
}

.elementor-1186 .elementor-element.elementor-element-a1caa39 .elementor-field-group.recaptcha_v3-bottomleft,
.elementor-1186 .elementor-element.elementor-element-a1caa39 .elementor-field-group.recaptcha_v3-bottomright {
    margin-bottom: 0;
}

.elementor-1186 .elementor-element.elementor-element-a1caa39 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper) {
    border-width: 0px 0px 0px 0px;
}

.elementor-1186 .elementor-element.elementor-element-a1caa39 .elementor-field-group .elementor-select-wrapper select {
    border-width: 0px 0px 0px 0px;
}

.elementor-1186 .elementor-element.elementor-element-a1caa39 .elementor-button {
    border-style: solid;
    border-width: 2px 2px 2px 2px;
}

.elementor-1186 .elementor-element.elementor-element-a1caa39 .e-form__buttons__wrapper__button-next {
    background-color: var(--e-global-color-accent);
    border-color: #FFFFFF;
}

.elementor-1186 .elementor-element.elementor-element-a1caa39 .elementor-button[type="submit"] {
    background-color: var(--e-global-color-accent);
    border-color: #FFFFFF;
}

.elementor-1186 .elementor-element.elementor-element-a1caa39 .e-form__buttons__wrapper__button-previous {
    color: #ffffff;
}

.elementor-1186 .elementor-element.elementor-element-a1caa39 .e-form__buttons__wrapper__button-next:hover {
    background-color: var(--e-global-color-fc28385);
    color: #FFFFFF;
    border-color: var(--e-global-color-fc28385);
}

.elementor-1186 .elementor-element.elementor-element-a1caa39 .elementor-button[type="submit"]:hover {
    background-color: var(--e-global-color-fc28385);
    color: #FFFFFF;
    border-color: var(--e-global-color-fc28385);
}

.elementor-1186 .elementor-element.elementor-element-a1caa39 .elementor-button[type="submit"]:hover svg * {
    fill: #FFFFFF;
}

.elementor-1186 .elementor-element.elementor-element-a1caa39 .e-form__buttons__wrapper__button-previous:hover {
    color: #ffffff;
}

.elementor-1186 .elementor-element.elementor-element-a1caa39 .elementor-message.elementor-message-success {
    color: var(--e-global-color-secondary);
}

.elementor-1186 .elementor-element.elementor-element-a1caa39 .elementor-message.elementor-message-danger {
    color: var(--e-global-color-primary);
}

.elementor-1186 .elementor-element.elementor-element-a1caa39 .elementor-message.elementor-help-inline {
    color: var(--e-global-color-primary);
}

.elementor-1186 .elementor-element.elementor-element-a1caa39 {
    --e-form-steps-indicators-spacing: 20px;
    --e-form-steps-indicator-padding: 30px;
    --e-form-steps-indicator-inactive-secondary-color: #ffffff;
    --e-form-steps-indicator-active-secondary-color: #ffffff;
    --e-form-steps-indicator-completed-secondary-color: #ffffff;
    --e-form-steps-divider-width: 1px;
    --e-form-steps-divider-gap: 10px;
}

.elementor-1186 .elementor-element.elementor-element-a1caa39>.elementor-widget-container {
    margin: 15px 10px 0px 10px;
}

.elementor-1186 .elementor-element.elementor-element-18e1123>.elementor-background-overlay {
    opacity: 0.2;
}

.elementor-1186 .elementor-element.elementor-element-18e1123 {
    margin-top: 0px;
    margin-bottom: 100px;
    padding: 0px 15px 0px 15px;
}

.elementor-1186 .elementor-element.elementor-element-7181eaa>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-1186 .elementor-element.elementor-element-4e3a5c4 img {
    width: 100%;
    border-radius: 25px 25px 25px 25px;
}

.elementor-1186 .elementor-element.elementor-element-e0d4bbb.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-ad41708);
}

.elementor-1186 .elementor-element.elementor-element-e0d4bbb.elementor-view-framed .elementor-icon,
.elementor-1186 .elementor-element.elementor-element-e0d4bbb.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-ad41708);
    color: var(--e-global-color-ad41708);
    border-color: var(--e-global-color-ad41708);
}

.elementor-1186 .elementor-element.elementor-element-e0d4bbb {
    --icon-box-icon-margin: 0px;
}

.elementor-1186 .elementor-element.elementor-element-e0d4bbb .elementor-icon {
    font-size: 40px;
}

.elementor-1186 .elementor-element.elementor-element-e0d4bbb .elementor-icon-box-wrapper {
    text-align: left;
}

.elementor-1186 .elementor-element.elementor-element-e0d4bbb .elementor-icon-box-title {
    margin-bottom: 5px;
    color: #FFFFFF;
}

.elementor-1186 .elementor-element.elementor-element-e0d4bbb .elementor-icon-box-description {
    color: var(--e-global-color-21bfb04);
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    font-weight: var(--e-global-typography-text-font-weight);
    line-height: var(--e-global-typography-text-line-height);
}

.elementor-1186 .elementor-element.elementor-element-e0d4bbb>.elementor-widget-container {
    margin: -100px 25px 0px 0px;
    padding: 30px 30px 30px 30px;
    background-color: var(--e-global-color-accent);
    border-radius: 25px 25px 25px 25px;
}

.elementor-1186 .elementor-element.elementor-element-df168ae>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 18px;
}

.elementor-1186 .elementor-element.elementor-element-df168ae>.elementor-element-populated {
    padding: 0px 0px 0px 60px;
}

.elementor-1186 .elementor-element.elementor-element-5dacf95 {
    text-align: left;
}

.elementor-1186 .elementor-element.elementor-element-5dacf95 .elementor-heading-title {
    color: var(--e-global-color-primary);
    font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
    font-size: var(--e-global-typography-secondary-font-size);
    font-weight: var(--e-global-typography-secondary-font-weight);
    line-height: var(--e-global-typography-secondary-line-height);
}

.elementor-1186 .elementor-element.elementor-element-e0c1484 .elementor-heading-title {
    color: var(--e-global-color-secondary);
}

.elementor-1186 .elementor-element.elementor-element-59d14ef .elementor-tab-title {
    border-width: 0px;
    background-color: var(--e-global-color-21bfb04);
    padding: 22px 22px 22px 22px;
}

.elementor-1186 .elementor-element.elementor-element-59d14ef .elementor-tab-content {
    border-width: 0px;
    background-color: #FFFFFF;
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    font-weight: var(--e-global-typography-text-font-weight);
    line-height: var(--e-global-typography-text-line-height);
    padding: 0px 20px 20px 20px;
}

.elementor-1186 .elementor-element.elementor-element-59d14ef .elementor-toggle-item:not(:last-child) {
    margin-bottom: 20px;
}

.elementor-1186 .elementor-element.elementor-element-59d14ef .elementor-toggle-item {
    box-shadow: 0px 0px 13px -4px rgba(0, 0, 0, 0.2);
}

.elementor-1186 .elementor-element.elementor-element-59d14ef .elementor-toggle-title,
.elementor-1186 .elementor-element.elementor-element-59d14ef .elementor-toggle-icon {
    color: var(--e-global-color-text);
}

.elementor-1186 .elementor-element.elementor-element-59d14ef .elementor-toggle-icon svg {
    fill: var(--e-global-color-text);
}

.elementor-1186 .elementor-element.elementor-element-59d14ef .elementor-toggle-title {
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
    font-size: var(--e-global-typography-accent-font-size);
    font-weight: var(--e-global-typography-accent-font-weight);
    line-height: var(--e-global-typography-accent-line-height);
}

.elementor-1186 .elementor-element.elementor-element-59d14ef>.elementor-widget-container {
    margin: 15px 0px 0px 0px;
}

:root {
    --page-title-display: none;
}

@media(max-width: 1024px) {
    .elementor-1186 .elementor-element.elementor-element-b5e6dfb>.elementor-container {
        min-height: 500px;
    }

    .elementor-1186 .elementor-element.elementor-element-b5e6dfb {
        margin-top: -165px;
        margin-bottom: 100px;
    }

    .elementor-1186 .elementor-element.elementor-element-91e937f>.elementor-element-populated {
        padding: 120px 0px 0px 0px;
    }

    .elementor-1186 .elementor-element.elementor-element-76fa51d {
        margin-top: 0px;
        margin-bottom: 100px;
    }

    .elementor-1186 .elementor-element.elementor-element-2dd9498>.elementor-element-populated {
        padding: 0px 0px 30px 0px;
    }

    .elementor-1186 .elementor-element.elementor-element-407ece0 .elementor-heading-title {
        font-size: var(--e-global-typography-secondary-font-size);
        line-height: var(--e-global-typography-secondary-line-height);
    }

    .elementor-1186 .elementor-element.elementor-element-3cb0dba .elementor-toggle-title {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
    }

    .elementor-1186 .elementor-element.elementor-element-18e1123 {
        margin-top: 0px;
        margin-bottom: 90px;
        padding: 0px 15px 0px 15px;
    }

    .elementor-1186 .elementor-element.elementor-element-e0d4bbb .elementor-icon-box-description {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-1186 .elementor-element.elementor-element-df168ae>.elementor-element-populated {
        padding: 50px 0px 0px 0px;
    }

    .elementor-1186 .elementor-element.elementor-element-5dacf95 .elementor-heading-title {
        font-size: var(--e-global-typography-secondary-font-size);
        line-height: var(--e-global-typography-secondary-line-height);
    }

    .elementor-1186 .elementor-element.elementor-element-59d14ef .elementor-toggle-title {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
    }

    .elementor-1186 .elementor-element.elementor-element-59d14ef .elementor-tab-content {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }
}

@media(max-width: 767px) {
    .elementor-1186 .elementor-element.elementor-element-b5e6dfb>.elementor-container {
        min-height: 550px;
    }

    .elementor-1186 .elementor-element.elementor-element-b5e6dfb {
        margin-top: -265px;
        margin-bottom: 80px;
    }

    .elementor-1186 .elementor-element.elementor-element-91e937f>.elementor-element-populated {
        padding: 200px 0px 0px 0px;
    }

    .elementor-1186 .elementor-element.elementor-element-76fa51d {
        margin-top: 0px;
        margin-bottom: 80px;
    }

    .elementor-1186 .elementor-element.elementor-element-2dd9498>.elementor-element-populated {
        padding: 0px 0px 30px 0px;
    }

    .elementor-1186 .elementor-element.elementor-element-407ece0 .elementor-heading-title {
        font-size: var(--e-global-typography-secondary-font-size);
        line-height: var(--e-global-typography-secondary-line-height);
    }

    .elementor-1186 .elementor-element.elementor-element-3cb0dba .elementor-toggle-title {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
    }

    .elementor-1186 .elementor-element.elementor-element-3cb0dba>.elementor-widget-container {
        margin: 10px 0px 0px 0px;
    }

    .elementor-1186 .elementor-element.elementor-element-3ec341b>.elementor-element-populated {
        padding: 40px 10px 40px 10px;
    }

    .elementor-1186 .elementor-element.elementor-element-18e1123 {
        margin-top: 0px;
        margin-bottom: 60px;
    }

    .elementor-1186 .elementor-element.elementor-element-e0d4bbb .elementor-icon-box-description {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-1186 .elementor-element.elementor-element-e0d4bbb>.elementor-widget-container {
        margin: -100px 15px 0px 0px;
    }

    .elementor-1186 .elementor-element.elementor-element-5dacf95 .elementor-heading-title {
        font-size: var(--e-global-typography-secondary-font-size);
        line-height: var(--e-global-typography-secondary-line-height);
    }

    .elementor-1186 .elementor-element.elementor-element-59d14ef .elementor-toggle-title {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
    }

    .elementor-1186 .elementor-element.elementor-element-59d14ef .elementor-tab-content {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-1186 .elementor-element.elementor-element-59d14ef>.elementor-widget-container {
        margin: 10px 0px 0px 0px;
    }
}

@media(min-width: 768px) {
    .elementor-1186 .elementor-element.elementor-element-2dd9498 {
        width: 55%;
    }

    .elementor-1186 .elementor-element.elementor-element-1fb0828 {
        width: 45%;
    }

    .elementor-1186 .elementor-element.elementor-element-7181eaa {
        width: 40%;
    }

    .elementor-1186 .elementor-element.elementor-element-df168ae {
        width: 60%;
    }
}

@media(max-width: 1024px) and (min-width:768px) {
    .elementor-1186 .elementor-element.elementor-element-2dd9498 {
        width: 100%;
    }

    .elementor-1186 .elementor-element.elementor-element-1fb0828 {
        width: 100%;
    }

    .elementor-1186 .elementor-element.elementor-element-7181eaa {
        width: 100%;
    }

    .elementor-1186 .elementor-element.elementor-element-df168ae {
        width: 100%;
    }
}