.elementor-1208 .elementor-element.elementor-element-380c144>.elementor-container {
    min-height: 550px;
}

.elementor-1208 .elementor-element.elementor-element-380c144:not(.elementor-motion-effects-element-type-background),
.elementor-1208 .elementor-element.elementor-element-380c144>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("contact\ us-home\ page.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-1208 .elementor-element.elementor-element-380c144>.elementor-background-overlay {
    background-color: #151515b8;
    opacity: 0.7;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1208 .elementor-element.elementor-element-380c144 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: -195px;
    margin-bottom: 0px;
    padding: 0px 15px 0px 15px;
}

.elementor-1208 .elementor-element.elementor-element-5b1755b>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 150px 0px 0px 0px;
}

.elementor-1208 .elementor-element.elementor-element-5b1755b>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1208 .elementor-element.elementor-element-817da9c {
    text-align: center;
}

.elementor-1208 .elementor-element.elementor-element-817da9c .elementor-heading-title {
    color: var(--e-global-color-21bfb04);
}

.elementor-1208 .elementor-element.elementor-element-019ad9b {
    margin-top: 0px;
    margin-bottom: 100px;
}

.elementor-1208 .elementor-element.elementor-element-da605ac iframe {
    height: 450px;
}

.elementor-1208 .elementor-element.elementor-element-4feb789 {
    margin-top: 0px;
    margin-bottom: 100px;
    padding: 0px 15px 0px 15px;
}

.elementor-1208 .elementor-element.elementor-element-2e516c7>.elementor-element-populated {
    margin: 0px 50px 0px 0px;
    --e-column-margin-right: 50px;
    --e-column-margin-left: 0px;
}

.elementor-1208 .elementor-element.elementor-element-9820913 {
    text-align: left;
}

.elementor-1208 .elementor-element.elementor-element-9820913 .elementor-heading-title {
    color: var(--e-global-color-primary);
    font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
    font-size: var(--e-global-typography-secondary-font-size);
    font-weight: var(--e-global-typography-secondary-font-weight);
    line-height: var(--e-global-typography-secondary-line-height);
}

.elementor-1208 .elementor-element.elementor-element-095affa {
    text-align: left;
}

.elementor-1208 .elementor-element.elementor-element-095affa .elementor-heading-title {
    color: var(--e-global-color-secondary);
}

.elementor-1208 .elementor-element.elementor-element-3b166f2 {
    color: var(--e-global-color-text);
}

.elementor-1208 .elementor-element.elementor-element-3b166f2>.elementor-widget-container {
    padding: 0px 0px 10px 0px;
}

.elementor-1208 .elementor-element.elementor-element-798ac5c.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-primary);
}

.elementor-1208 .elementor-element.elementor-element-798ac5c.elementor-view-framed .elementor-icon,
.elementor-1208 .elementor-element.elementor-element-798ac5c.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-primary);
    color: var(--e-global-color-primary);
    border-color: var(--e-global-color-primary);
}

.elementor-1208 .elementor-element.elementor-element-798ac5c.elementor-view-stacked .elementor-icon:hover {
    background-color: var(--e-global-color-fc28385);
    fill: var(--e-global-color-21bfb04);
    color: var(--e-global-color-21bfb04);
}

.elementor-1208 .elementor-element.elementor-element-798ac5c.elementor-view-framed .elementor-icon:hover,
.elementor-1208 .elementor-element.elementor-element-798ac5c.elementor-view-default .elementor-icon:hover {
    fill: var(--e-global-color-fc28385);
    color: var(--e-global-color-fc28385);
    border-color: var(--e-global-color-fc28385);
}

.elementor-1208 .elementor-element.elementor-element-798ac5c.elementor-view-framed .elementor-icon:hover {
    background-color: var(--e-global-color-21bfb04);
}

.elementor-1208 .elementor-element.elementor-element-798ac5c {
    --icon-box-icon-margin: 25px;
}

.elementor-1208 .elementor-element.elementor-element-798ac5c .elementor-icon {
    font-size: 40px;
}

.elementor-1208 .elementor-element.elementor-element-798ac5c>.elementor-widget-container {
    margin: 0px 0px 10px 0px;
    padding: 18px 35px 28px 35px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #F15B4340;
    border-radius: 25px 25px 25px 25px;
}

.elementor-1208 .elementor-element.elementor-element-b388b2b.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-primary);
}

.elementor-1208 .elementor-element.elementor-element-b388b2b.elementor-view-framed .elementor-icon,
.elementor-1208 .elementor-element.elementor-element-b388b2b.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-primary);
    color: var(--e-global-color-primary);
    border-color: var(--e-global-color-primary);
}

.elementor-1208 .elementor-element.elementor-element-b388b2b.elementor-view-stacked .elementor-icon:hover {
    background-color: var(--e-global-color-fc28385);
    fill: var(--e-global-color-21bfb04);
    color: var(--e-global-color-21bfb04);
}

.elementor-1208 .elementor-element.elementor-element-b388b2b.elementor-view-framed .elementor-icon:hover,
.elementor-1208 .elementor-element.elementor-element-b388b2b.elementor-view-default .elementor-icon:hover {
    fill: var(--e-global-color-fc28385);
    color: var(--e-global-color-fc28385);
    border-color: var(--e-global-color-fc28385);
}

.elementor-1208 .elementor-element.elementor-element-b388b2b.elementor-view-framed .elementor-icon:hover {
    background-color: var(--e-global-color-21bfb04);
}

.elementor-1208 .elementor-element.elementor-element-b388b2b {
    --icon-box-icon-margin: 25px;
}

.elementor-1208 .elementor-element.elementor-element-b388b2b .elementor-icon {
    font-size: 40px;
}

.elementor-1208 .elementor-element.elementor-element-b388b2b>.elementor-widget-container {
    margin: 0px 0px 10px 0px;
    padding: 18px 35px 28px 35px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #F15B4340;
    border-radius: 25px 25px 25px 25px;
}

.elementor-1208 .elementor-element.elementor-element-67c75eb.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-primary);
}

.elementor-1208 .elementor-element.elementor-element-67c75eb.elementor-view-framed .elementor-icon,
.elementor-1208 .elementor-element.elementor-element-67c75eb.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-primary);
    color: var(--e-global-color-primary);
    border-color: var(--e-global-color-primary);
}

.elementor-1208 .elementor-element.elementor-element-67c75eb.elementor-view-stacked .elementor-icon:hover {
    background-color: var(--e-global-color-fc28385);
    fill: var(--e-global-color-21bfb04);
    color: var(--e-global-color-21bfb04);
}

.elementor-1208 .elementor-element.elementor-element-67c75eb.elementor-view-framed .elementor-icon:hover,
.elementor-1208 .elementor-element.elementor-element-67c75eb.elementor-view-default .elementor-icon:hover {
    fill: var(--e-global-color-fc28385);
    color: var(--e-global-color-fc28385);
    border-color: var(--e-global-color-fc28385);
}

.elementor-1208 .elementor-element.elementor-element-67c75eb.elementor-view-framed .elementor-icon:hover {
    background-color: var(--e-global-color-21bfb04);
}

.elementor-1208 .elementor-element.elementor-element-67c75eb {
    --icon-box-icon-margin: 25px;
}

.elementor-1208 .elementor-element.elementor-element-67c75eb .elementor-icon {
    font-size: 40px;
}

.elementor-1208 .elementor-element.elementor-element-67c75eb>.elementor-widget-container {
    padding: 18px 35px 28px 35px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #F15B4340;
    border-radius: 25px 25px 25px 25px;
}

.elementor-bc-flex-widget .elementor-1208 .elementor-element.elementor-element-f204d05.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-1208 .elementor-element.elementor-element-f204d05.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-1208 .elementor-element.elementor-element-af5e04c:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-1208 .elementor-element.elementor-element-af5e04c>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("contact\ us-2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-1208 .elementor-element.elementor-element-af5e04c>.elementor-element-populated>.elementor-background-overlay {
    background-color: #151515b8;
    opacity: 0.6;
}

.elementor-1208 .elementor-element.elementor-element-af5e04c>.elementor-element-populated,
.elementor-1208 .elementor-element.elementor-element-af5e04c>.elementor-element-populated>.elementor-background-overlay,
.elementor-1208 .elementor-element.elementor-element-af5e04c>.elementor-background-slideshow {
    border-radius: 25px 25px 25px 25px;
}

.elementor-1208 .elementor-element.elementor-element-af5e04c>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 42px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 60px 40px 60px 40px;
}

.elementor-1208 .elementor-element.elementor-element-af5e04c>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1208 .elementor-element.elementor-element-67b3cbe .elementor-field-group {
    padding-right: calc(20px/2);
    padding-left: calc(20px/2);
    margin-bottom: 30px;
}

.elementor-1208 .elementor-element.elementor-element-67b3cbe .elementor-form-fields-wrapper {
    margin-left: calc(-20px/2);
    margin-right: calc(-20px/2);
    margin-bottom: -30px;
}

.elementor-1208 .elementor-element.elementor-element-67b3cbe .elementor-field-group.recaptcha_v3-bottomleft,
.elementor-1208 .elementor-element.elementor-element-67b3cbe .elementor-field-group.recaptcha_v3-bottomright {
    margin-bottom: 0;
}

body.rtl .elementor-1208 .elementor-element.elementor-element-67b3cbe .elementor-labels-inline .elementor-field-group>label {
    padding-left: 0px;
}

body:not(.rtl) .elementor-1208 .elementor-element.elementor-element-67b3cbe .elementor-labels-inline .elementor-field-group>label {
    padding-right: 0px;
}

body .elementor-1208 .elementor-element.elementor-element-67b3cbe .elementor-labels-above .elementor-field-group>label {
    padding-bottom: 0px;
}

.elementor-1208 .elementor-element.elementor-element-67b3cbe .elementor-field-type-html {
    padding-bottom: 0px;
}

.elementor-1208 .elementor-element.elementor-element-67b3cbe .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper) {
    background-color: #ffffff;
}

.elementor-1208 .elementor-element.elementor-element-67b3cbe .elementor-field-group .elementor-select-wrapper select {
    background-color: #ffffff;
}

.elementor-1208 .elementor-element.elementor-element-67b3cbe .e-form__buttons__wrapper__button-next {
    color: #ffffff;
}

.elementor-1208 .elementor-element.elementor-element-67b3cbe .elementor-button[type="submit"] {
    color: #ffffff;
}

.elementor-1208 .elementor-element.elementor-element-67b3cbe .elementor-button[type="submit"] svg * {
    fill: #ffffff;
}

.elementor-1208 .elementor-element.elementor-element-67b3cbe .e-form__buttons__wrapper__button-previous {
    color: #ffffff;
}

.elementor-1208 .elementor-element.elementor-element-67b3cbe .e-form__buttons__wrapper__button-next:hover {
    color: #ffffff;
}

.elementor-1208 .elementor-element.elementor-element-67b3cbe .elementor-button[type="submit"]:hover {
    color: #ffffff;
}

.elementor-1208 .elementor-element.elementor-element-67b3cbe .elementor-button[type="submit"]:hover svg * {
    fill: #ffffff;
}

.elementor-1208 .elementor-element.elementor-element-67b3cbe .e-form__buttons__wrapper__button-previous:hover {
    color: #ffffff;
}

.elementor-1208 .elementor-element.elementor-element-67b3cbe {
    --e-form-steps-indicators-spacing: 20px;
    --e-form-steps-indicator-padding: 30px;
    --e-form-steps-indicator-inactive-secondary-color: #ffffff;
    --e-form-steps-indicator-active-secondary-color: #ffffff;
    --e-form-steps-indicator-completed-secondary-color: #ffffff;
    --e-form-steps-divider-width: 1px;
    --e-form-steps-divider-gap: 10px;
}

.elementor-1208 .elementor-element.elementor-element-865ca05 {
    --grid-side-margin: 10px;
    --grid-column-gap: 10px;
    --grid-row-gap: 10px;
    --grid-bottom-margin: 10px;
}

.elementor-1208 .elementor-element.elementor-element-865ca05 .elementor-share-btn__title {
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
    font-size: var(--e-global-typography-accent-font-size);
    font-weight: var(--e-global-typography-accent-font-weight);
}

.elementor-1208 .elementor-element.elementor-element-865ca05>.elementor-widget-container {
    margin: 10px 120px 0px 0px;
}

:root {
    --page-title-display: none;
}

@media(max-width: 1024px) and (min-width:768px) {
    .elementor-1208 .elementor-element.elementor-element-2e516c7 {
        width: 100%;
    }

    .elementor-1208 .elementor-element.elementor-element-f204d05 {
        width: 100%;
    }
}

@media(max-width: 1024px) {
    .elementor-1208 .elementor-element.elementor-element-380c144>.elementor-container {
        min-height: 500px;
    }

    .elementor-1208 .elementor-element.elementor-element-380c144 {
        margin-top: -165px;
        margin-bottom: 0px;
    }

    .elementor-1208 .elementor-element.elementor-element-5b1755b>.elementor-element-populated {
        padding: 120px 0px 0px 0px;
    }

    .elementor-1208 .elementor-element.elementor-element-da605ac iframe {
        height: 350px;
    }

    .elementor-1208 .elementor-element.elementor-element-2e516c7>.elementor-element-populated {
        margin: 0px 0px 50px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-1208 .elementor-element.elementor-element-9820913 .elementor-heading-title {
        font-size: var(--e-global-typography-secondary-font-size);
        line-height: var(--e-global-typography-secondary-line-height);
    }

    .elementor-1208 .elementor-element.elementor-element-095affa {
        text-align: left;
    }

    .elementor-1208 .elementor-element.elementor-element-865ca05 {
        --grid-side-margin: 10px;
        --grid-column-gap: 10px;
        --grid-row-gap: 10px;
        --grid-bottom-margin: 10px;
    }

    .elementor-1208 .elementor-element.elementor-element-865ca05 .elementor-share-btn__title {
        font-size: var(--e-global-typography-accent-font-size);
    }
}

@media(max-width: 767px) {
    .elementor-1208 .elementor-element.elementor-element-380c144>.elementor-container {
        min-height: 550px;
    }

    .elementor-1208 .elementor-element.elementor-element-380c144 {
        margin-top: -265px;
        margin-bottom: 0px;
    }

    .elementor-1208 .elementor-element.elementor-element-5b1755b>.elementor-element-populated {
        padding: 200px 0px 0px 0px;
    }

    .elementor-1208 .elementor-element.elementor-element-019ad9b {
        margin-top: 0px;
        margin-bottom: 80px;
    }

    .elementor-1208 .elementor-element.elementor-element-da605ac iframe {
        height: 250px;
    }

    .elementor-1208 .elementor-element.elementor-element-4feb789 {
        margin-top: 0px;
        margin-bottom: 80px;
    }

    .elementor-1208 .elementor-element.elementor-element-9820913 .elementor-heading-title {
        font-size: var(--e-global-typography-secondary-font-size);
        line-height: var(--e-global-typography-secondary-line-height);
    }

    .elementor-1208 .elementor-element.elementor-element-af5e04c>.elementor-element-populated {
        padding: 50px 30px 50px 30px;
    }

    .elementor-1208 .elementor-element.elementor-element-865ca05 {
        --grid-side-margin: 10px;
        --grid-column-gap: 10px;
        --grid-row-gap: 10px;
        --grid-bottom-margin: 10px;
    }

    .elementor-1208 .elementor-element.elementor-element-865ca05 .elementor-share-btn__title {
        font-size: var(--e-global-typography-accent-font-size);
    }

    .elementor-1208 .elementor-element.elementor-element-865ca05>.elementor-widget-container {
        margin: 10px 0px 0px 0px;
    }
}