.elementor-1157 .elementor-element.elementor-element-556f8b4>.elementor-container {
    min-height: 550px;
}

.elementor-1157 .elementor-element.elementor-element-556f8b4:not(.elementor-motion-effects-element-type-background),
.elementor-1157 .elementor-element.elementor-element-556f8b4>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("About\ us_Carer\ home\ \(1\).jpg.crdownload");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-1157 .elementor-element.elementor-element-556f8b4>.elementor-background-overlay {
    background-color: var(--e-global-color-e5e9561);
    opacity: 0.7;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1157 .elementor-element.elementor-element-556f8b4 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: -195px;
    margin-bottom: 100px;
    padding: 0px 15px 0px 15px;
}

.elementor-1157 .elementor-element.elementor-element-d7bc595>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 150px 0px 0px 0px;
}

.elementor-1157 .elementor-element.elementor-element-d7bc595>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1157 .elementor-element.elementor-element-f95824d {
    text-align: center;
}

.elementor-1157 .elementor-element.elementor-element-f95824d .elementor-heading-title {
    color: var(--e-global-color-21bfb04);
}

.elementor-1157 .elementor-element.elementor-element-90a5337 {
    margin-top: 0px;
    margin-bottom: 100px;
    padding: 0px 15px 0px 15px;
}

.elementor-1157 .elementor-element.elementor-element-1ddc400 {
    text-align: center;
}

.elementor-1157 .elementor-element.elementor-element-1ddc400 .elementor-heading-title {
    color: var(--e-global-color-primary);
    font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
    font-size: var(--e-global-typography-secondary-font-size);
    font-weight: var(--e-global-typography-secondary-font-weight);
    line-height: var(--e-global-typography-secondary-line-height);
}

.elementor-1157 .elementor-element.elementor-element-6559af4 {
    text-align: center;
}

.elementor-1157 .elementor-element.elementor-element-6559af4 .elementor-heading-title {
    color: var(--e-global-color-secondary);
}

.elementor-1157 .elementor-element.elementor-element-75ca140 {
    margin-top: 30px;
    margin-bottom: 0px;
}

.elementor-1157 .elementor-element.elementor-element-72e9da2>.elementor-element-populated {
    padding: 0px 30px 0px 0px;
}

.elementor-1157 .elementor-element.elementor-element-fb5ff0f>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 18px;
}

.elementor-1157 .elementor-element.elementor-element-fb5ff0f:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-1157 .elementor-element.elementor-element-fb5ff0f>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-21bfb04);
    box-shadow: 2px 2px 2px 2px;
}

.elementor-1157 .elementor-element.elementor-element-fb5ff0f>.elementor-element-populated,
.elementor-1157 .elementor-element.elementor-element-fb5ff0f>.elementor-element-populated>.elementor-background-overlay,
.elementor-1157 .elementor-element.elementor-element-fb5ff0f>.elementor-background-slideshow {
    border-radius: 25px 25px 25px 25px;
}

.elementor-1157 .elementor-element.elementor-element-fb5ff0f>.elementor-element-populated {
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.08);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 15px 0px 0px;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 0px;
    padding: 40px 40px 40px 40px;
}

.elementor-1157 .elementor-element.elementor-element-fb5ff0f>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1157 .elementor-element.elementor-element-ab03f68 {
    text-align: left;
}

.elementor-1157 .elementor-element.elementor-element-ab03f68 .elementor-heading-title {
    color: var(--e-global-color-primary);
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
    font-size: var(--e-global-typography-accent-font-size);
    font-weight: var(--e-global-typography-accent-font-weight);
    line-height: var(--e-global-typography-accent-line-height);
}

.elementor-1157 .elementor-element.elementor-element-9eb2ff9 {
    text-align: left;
}

.elementor-1157 .elementor-element.elementor-element-585374d {
    text-align: left;
}

.elementor-1157 .elementor-element.elementor-element-ebea785 .elementor-button:hover,
.elementor-1157 .elementor-element.elementor-element-ebea785 .elementor-button:focus {
    border-color: #030F27;
}

.elementor-1157 .elementor-element.elementor-element-e34fba7>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 18px;
}

.elementor-1157 .elementor-element.elementor-element-e34fba7>.elementor-element-populated {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #F15B4340;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 15px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 15px;
    padding: 39px 39px 39px 39px;
}

.elementor-1157 .elementor-element.elementor-element-e34fba7>.elementor-element-populated,
.elementor-1157 .elementor-element.elementor-element-e34fba7>.elementor-element-populated>.elementor-background-overlay,
.elementor-1157 .elementor-element.elementor-element-e34fba7>.elementor-background-slideshow {
    border-radius: 25px 25px 25px 25px;
    box-shadow: 2px 2px 2px 3px;
}

.elementor-1157 .elementor-element.elementor-element-e34fba7>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1157 .elementor-element.elementor-element-0021dbd {
    text-align: left;
}

.elementor-1157 .elementor-element.elementor-element-0021dbd .elementor-heading-title {
    color: var(--e-global-color-primary);
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
    font-size: var(--e-global-typography-accent-font-size);
    font-weight: var(--e-global-typography-accent-font-weight);
    line-height: var(--e-global-typography-accent-line-height);
}

.elementor-1157 .elementor-element.elementor-element-fa20183 {
    text-align: left;
}

.elementor-1157 .elementor-element.elementor-element-6b0d112 {
    text-align: left;
}

.elementor-1157 .elementor-element.elementor-element-3d9e235 .elementor-button {
    fill: var(--e-global-color-primary);
    color: var(--e-global-color-primary);
    background-color: #02010100;
}

.elementor-1157 .elementor-element.elementor-element-3d9e235 .elementor-button:hover,
.elementor-1157 .elementor-element.elementor-element-3d9e235 .elementor-button:focus {
    color: var(--e-global-color-21bfb04);
    background-color: var(--e-global-color-fc28385);
    border-color: #030F27;
}

.elementor-1157 .elementor-element.elementor-element-3d9e235 .elementor-button:hover svg,
.elementor-1157 .elementor-element.elementor-element-3d9e235 .elementor-button:focus svg {
    fill: var(--e-global-color-21bfb04);
}

.elementor-1157 .elementor-element.elementor-element-d0329f0 {
    margin-top: 30px;
    margin-bottom: 0px;
}

.elementor-1157 .elementor-element.elementor-element-f794831>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 18px;
}

.elementor-1157 .elementor-element.elementor-element-f794831>.elementor-element-populated {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #F15B4340;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 15px 0px 0px;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 0px;
    padding: 39px 39px 39px 39px;
}

.elementor-1157 .elementor-element.elementor-element-f794831>.elementor-element-populated,
.elementor-1157 .elementor-element.elementor-element-f794831>.elementor-element-populated>.elementor-background-overlay,
.elementor-1157 .elementor-element.elementor-element-f794831>.elementor-background-slideshow {
    border-radius: 25px 25px 25px 25px;
    box-shadow: 2px 2px 2px 3px;
}

.elementor-1157 .elementor-element.elementor-element-f794831>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1157 .elementor-element.elementor-element-62a13c3 {
    text-align: left;
}

.elementor-1157 .elementor-element.elementor-element-62a13c3 .elementor-heading-title {
    color: var(--e-global-color-primary);
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
    font-size: var(--e-global-typography-accent-font-size);
    font-weight: var(--e-global-typography-accent-font-weight);
    line-height: var(--e-global-typography-accent-line-height);
}

.elementor-1157 .elementor-element.elementor-element-c53d0a1 {
    text-align: left;
}

.elementor-1157 .elementor-element.elementor-element-682f80b {
    text-align: left;
}

.elementor-1157 .elementor-element.elementor-element-b8debc2 .elementor-button {
    fill: var(--e-global-color-primary);
    color: var(--e-global-color-primary);
    background-color: #02010100;
}

.elementor-1157 .elementor-element.elementor-element-b8debc2 .elementor-button:hover,
.elementor-1157 .elementor-element.elementor-element-b8debc2 .elementor-button:focus {
    color: var(--e-global-color-21bfb04);
    background-color: var(--e-global-color-fc28385);
    border-color: #030F27;
}

.elementor-1157 .elementor-element.elementor-element-b8debc2 .elementor-button:hover svg,
.elementor-1157 .elementor-element.elementor-element-b8debc2 .elementor-button:focus svg {
    fill: var(--e-global-color-21bfb04);
}

.elementor-1157 .elementor-element.elementor-element-39e2645>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 18px;
}

.elementor-1157 .elementor-element.elementor-element-39e2645:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-1157 .elementor-element.elementor-element-39e2645>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-21bfb04);
    box-shadow: 2px 2px 2px 3px;
}

.elementor-1157 .elementor-element.elementor-element-39e2645>.elementor-element-populated,
.elementor-1157 .elementor-element.elementor-element-39e2645>.elementor-element-populated>.elementor-background-overlay,
.elementor-1157 .elementor-element.elementor-element-39e2645>.elementor-background-slideshow {
    border-radius: 25px 25px 25px 25px;
}

.elementor-1157 .elementor-element.elementor-element-39e2645>.elementor-element-populated {
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.08);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 15px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 15px;
    padding: 40px 40px 40px 40px;
}

.elementor-1157 .elementor-element.elementor-element-39e2645>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1157 .elementor-element.elementor-element-a0cb8f8 {
    text-align: left;
}

.elementor-1157 .elementor-element.elementor-element-a0cb8f8 .elementor-heading-title {
    color: var(--e-global-color-primary);
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
    font-size: var(--e-global-typography-accent-font-size);
    font-weight: var(--e-global-typography-accent-font-weight);
    line-height: var(--e-global-typography-accent-line-height);
}

.elementor-1157 .elementor-element.elementor-element-55debd9 {
    text-align: left;
}

.elementor-1157 .elementor-element.elementor-element-a35404a {
    text-align: left;
}

.elementor-1157 .elementor-element.elementor-element-e10c822 .elementor-button:hover,
.elementor-1157 .elementor-element.elementor-element-e10c822 .elementor-button:focus {
    border-color: #030F27;
}

.elementor-1157 .elementor-element.elementor-element-76f81e6>.elementor-element-populated {
    padding: 0px 0px 0px 20px;
}

.elementor-bc-flex-widget .elementor-1157 .elementor-element.elementor-element-ebe5359.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-1157 .elementor-element.elementor-element-ebe5359.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-1157 .elementor-element.elementor-element-ebe5359:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-1157 .elementor-element.elementor-element-ebe5359>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-primary);
}

.elementor-1157 .elementor-element.elementor-element-ebe5359>.elementor-element-populated,
.elementor-1157 .elementor-element.elementor-element-ebe5359>.elementor-element-populated>.elementor-background-overlay,
.elementor-1157 .elementor-element.elementor-element-ebe5359>.elementor-background-slideshow {
    border-radius: 25px 25px 25px 25px;
}

.elementor-1157 .elementor-element.elementor-element-ebe5359>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 30px 20px 30px 20px;
}

.elementor-1157 .elementor-element.elementor-element-ebe5359>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1157 .elementor-element.elementor-element-fa45568 {
    text-align: center;
}

.elementor-1157 .elementor-element.elementor-element-fa45568 .elementor-heading-title {
    color: var(--e-global-color-21bfb04);
}

.elementor-1157 .elementor-element.elementor-element-fa45568>.elementor-widget-container {
    margin: 0px 10px 0px 10px;
    padding: 9px 9px 9px 9px;
    background-color: var(--e-global-color-secondary);
    border-radius: 25px 25px 25px 25px;
}

.elementor-1157 .elementor-element.elementor-element-5aa7ba9 {
    text-align: center;
    color: var(--e-global-color-ad41708);
}

.elementor-1157 .elementor-element.elementor-element-78587db .elementor-field-group {
    padding-right: calc(15px/2);
    padding-left: calc(15px/2);
    margin-bottom: 20px;
}

.elementor-1157 .elementor-element.elementor-element-78587db .elementor-form-fields-wrapper {
    margin-left: calc(-15px/2);
    margin-right: calc(-15px/2);
    margin-bottom: -20px;
}

.elementor-1157 .elementor-element.elementor-element-78587db .elementor-field-group.recaptcha_v3-bottomleft,
.elementor-1157 .elementor-element.elementor-element-78587db .elementor-field-group.recaptcha_v3-bottomright {
    margin-bottom: 0;
}

.elementor-1157 .elementor-element.elementor-element-78587db .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper) {
    background-color: var(--e-global-color-ad41708);
    border-width: 0px 0px 0px 0px;
}

.elementor-1157 .elementor-element.elementor-element-78587db .elementor-field-group .elementor-select-wrapper select {
    background-color: var(--e-global-color-ad41708);
    border-width: 0px 0px 0px 0px;
}

.elementor-1157 .elementor-element.elementor-element-78587db .elementor-button {
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-radius: 25px 25px 25px 25px;
}

.elementor-1157 .elementor-element.elementor-element-78587db .e-form__buttons__wrapper__button-next {
    background-color: var(--e-global-color-accent);
    border-color: var(--e-global-color-21bfb04);
}

.elementor-1157 .elementor-element.elementor-element-78587db .elementor-button[type="submit"] {
    background-color: var(--e-global-color-accent);
    border-color: var(--e-global-color-21bfb04);
}

.elementor-1157 .elementor-element.elementor-element-78587db .e-form__buttons__wrapper__button-previous {
    color: #ffffff;
}

.elementor-1157 .elementor-element.elementor-element-78587db .e-form__buttons__wrapper__button-next:hover {
    background-color: var(--e-global-color-fc28385);
    border-color: var(--e-global-color-fc28385);
}

.elementor-1157 .elementor-element.elementor-element-78587db .elementor-button[type="submit"]:hover {
    background-color: var(--e-global-color-fc28385);
    border-color: var(--e-global-color-fc28385);
}

.elementor-1157 .elementor-element.elementor-element-78587db .e-form__buttons__wrapper__button-previous:hover {
    color: #ffffff;
}

.elementor-1157 .elementor-element.elementor-element-78587db .elementor-message.elementor-message-success {
    color: var(--e-global-color-ad41708);
}

.elementor-1157 .elementor-element.elementor-element-78587db .elementor-message.elementor-message-danger {
    color: var(--e-global-color-ad41708);
}

.elementor-1157 .elementor-element.elementor-element-78587db .elementor-message.elementor-help-inline {
    color: var(--e-global-color-ad41708);
}

.elementor-1157 .elementor-element.elementor-element-78587db {
    --e-form-steps-indicators-spacing: 20px;
    --e-form-steps-indicator-padding: 30px;
    --e-form-steps-indicator-inactive-secondary-color: #ffffff;
    --e-form-steps-indicator-active-secondary-color: #ffffff;
    --e-form-steps-indicator-completed-secondary-color: #ffffff;
    --e-form-steps-divider-width: 1px;
    --e-form-steps-divider-gap: 10px;
}

.elementor-1157 .elementor-element.elementor-element-78587db>.elementor-widget-container {
    margin: 0px 10px 0px 10px;
}

.elementor-1157 .elementor-element.elementor-element-e226238>.elementor-background-overlay {
    background-color: #FFFFFF;
    opacity: 0.6;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1157 .elementor-element.elementor-element-e226238 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 100px;
    padding: 0px 15px 0px 15px;
}

.elementor-1157 .elementor-element.elementor-element-8630b0a {
    text-align: left;
}

.elementor-1157 .elementor-element.elementor-element-8630b0a .elementor-heading-title {
    color: var(--e-global-color-primary);
    font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
    font-size: var(--e-global-typography-secondary-font-size);
    font-weight: var(--e-global-typography-secondary-font-weight);
    line-height: var(--e-global-typography-secondary-line-height);
}

.elementor-1157 .elementor-element.elementor-element-4cdf00e {
    text-align: left;
}

.elementor-1157 .elementor-element.elementor-element-4cdf00e .elementor-heading-title {
    color: var(--e-global-color-secondary);
}

.elementor-bc-flex-widget .elementor-1157 .elementor-element.elementor-element-d2f940d.elementor-column .elementor-widget-wrap {
    align-items: flex-end;
}

.elementor-1157 .elementor-element.elementor-element-d2f940d.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: flex-end;
    align-items: flex-end;
}

.elementor-1157 .elementor-element.elementor-element-d2f940d>.elementor-element-populated {
    margin: 0px 0px 0px 50px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 50px;
}

.elementor-1157 .elementor-element.elementor-element-b035805 {
    color: var(--e-global-color-text);
}

.elementor-1157 .elementor-element.elementor-element-b035805>.elementor-widget-container {
    margin: 0px 0px -15px 0px;
}

.elementor-1157 .elementor-element.elementor-element-7eeca23 {
    margin-top: 50px;
    margin-bottom: 0px;
}

.elementor-1157 .elementor-element.elementor-element-d30e883>.elementor-element-populated {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #F15B4340;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 20px 0px 0px;
    --e-column-margin-right: 20px;
    --e-column-margin-left: 0px;
    padding: 18px 25px 22px 25px;
}

.elementor-1157 .elementor-element.elementor-element-d30e883>.elementor-element-populated,
.elementor-1157 .elementor-element.elementor-element-d30e883>.elementor-element-populated>.elementor-background-overlay,
.elementor-1157 .elementor-element.elementor-element-d30e883>.elementor-background-slideshow {
    border-radius: 25px 25px 25px 25px;
}

.elementor-1157 .elementor-element.elementor-element-d30e883>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1157 .elementor-element.elementor-element-e662429.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-primary);
    fill: #FFFFFF;
    color: #FFFFFF;
}

.elementor-1157 .elementor-element.elementor-element-e662429.elementor-view-framed .elementor-icon,
.elementor-1157 .elementor-element.elementor-element-e662429.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-primary);
    color: var(--e-global-color-primary);
    border-color: var(--e-global-color-primary);
}

.elementor-1157 .elementor-element.elementor-element-e662429.elementor-view-framed .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-1157 .elementor-element.elementor-element-e662429 {
    --icon-box-icon-margin: 20px;
}

.elementor-1157 .elementor-element.elementor-element-e662429 .elementor-icon {
    font-size: 32px;
    padding: 22px;
}

.elementor-1157 .elementor-element.elementor-element-e662429 .elementor-icon-box-title {
    margin-bottom: 10px;
}

.elementor-1157 .elementor-element.elementor-element-d8be23d>.elementor-element-populated {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #F15B4340;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 10px 0px 10px;
    --e-column-margin-right: 10px;
    --e-column-margin-left: 10px;
    padding: 18px 25px 22px 25px;
}

.elementor-1157 .elementor-element.elementor-element-d8be23d>.elementor-element-populated,
.elementor-1157 .elementor-element.elementor-element-d8be23d>.elementor-element-populated>.elementor-background-overlay,
.elementor-1157 .elementor-element.elementor-element-d8be23d>.elementor-background-slideshow {
    border-radius: 25px 25px 25px 25px;
}

.elementor-1157 .elementor-element.elementor-element-d8be23d>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1157 .elementor-element.elementor-element-4b6bb2e.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-primary);
    fill: #FFFFFF;
    color: #FFFFFF;
}

.elementor-1157 .elementor-element.elementor-element-4b6bb2e.elementor-view-framed .elementor-icon,
.elementor-1157 .elementor-element.elementor-element-4b6bb2e.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-primary);
    color: var(--e-global-color-primary);
    border-color: var(--e-global-color-primary);
}

.elementor-1157 .elementor-element.elementor-element-4b6bb2e.elementor-view-framed .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-1157 .elementor-element.elementor-element-4b6bb2e {
    --icon-box-icon-margin: 20px;
}

.elementor-1157 .elementor-element.elementor-element-4b6bb2e .elementor-icon {
    font-size: 32px;
    padding: 22px;
}

.elementor-1157 .elementor-element.elementor-element-4b6bb2e .elementor-icon-box-title {
    margin-bottom: 10px;
}

.elementor-1157 .elementor-element.elementor-element-4513a3a>.elementor-element-populated {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #F15B4340;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 20px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 20px;
    padding: 18px 25px 22px 25px;
}

.elementor-1157 .elementor-element.elementor-element-4513a3a>.elementor-element-populated,
.elementor-1157 .elementor-element.elementor-element-4513a3a>.elementor-element-populated>.elementor-background-overlay,
.elementor-1157 .elementor-element.elementor-element-4513a3a>.elementor-background-slideshow {
    border-radius: 25px 25px 25px 25px;
}

.elementor-1157 .elementor-element.elementor-element-4513a3a>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1157 .elementor-element.elementor-element-b9b58f6.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-primary);
    fill: #FFFFFF;
    color: #FFFFFF;
}

.elementor-1157 .elementor-element.elementor-element-b9b58f6.elementor-view-framed .elementor-icon,
.elementor-1157 .elementor-element.elementor-element-b9b58f6.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-primary);
    color: var(--e-global-color-primary);
    border-color: var(--e-global-color-primary);
}

.elementor-1157 .elementor-element.elementor-element-b9b58f6.elementor-view-framed .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-1157 .elementor-element.elementor-element-b9b58f6 {
    --icon-box-icon-margin: 20px;
}

.elementor-1157 .elementor-element.elementor-element-b9b58f6 .elementor-icon {
    font-size: 32px;
    padding: 22px;
}

.elementor-1157 .elementor-element.elementor-element-b9b58f6 .elementor-icon-box-title {
    margin-bottom: 10px;
}

:root {
    --page-title-display: none;
}

@media(max-width: 1024px) {
    .elementor-1157 .elementor-element.elementor-element-556f8b4>.elementor-container {
        min-height: 500px;
    }

    .elementor-1157 .elementor-element.elementor-element-556f8b4 {
        margin-top: -165px;
        margin-bottom: 100px;
    }

    .elementor-1157 .elementor-element.elementor-element-d7bc595>.elementor-element-populated {
        padding: 120px 0px 0px 0px;
    }

    .elementor-1157 .elementor-element.elementor-element-90a5337 {
        margin-top: 0px;
        margin-bottom: 94px;
    }

    .elementor-1157 .elementor-element.elementor-element-1ddc400 .elementor-heading-title {
        font-size: var(--e-global-typography-secondary-font-size);
        line-height: var(--e-global-typography-secondary-line-height);
    }

    .elementor-1157 .elementor-element.elementor-element-72e9da2>.elementor-element-populated {
        padding: 0px 0px 50px 0px;
    }

    .elementor-1157 .elementor-element.elementor-element-ab03f68 .elementor-heading-title {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
    }

    .elementor-1157 .elementor-element.elementor-element-585374d>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-1157 .elementor-element.elementor-element-0021dbd .elementor-heading-title {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
    }

    .elementor-1157 .elementor-element.elementor-element-6b0d112>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-1157 .elementor-element.elementor-element-62a13c3 .elementor-heading-title {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
    }

    .elementor-1157 .elementor-element.elementor-element-682f80b>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-1157 .elementor-element.elementor-element-a0cb8f8 .elementor-heading-title {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
    }

    .elementor-1157 .elementor-element.elementor-element-a35404a>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-1157 .elementor-element.elementor-element-76f81e6>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }

    .elementor-1157 .elementor-element.elementor-element-e226238 {
        margin-top: 0px;
        margin-bottom: 100px;
        padding: 0px 15px 0px 15px;
    }

    .elementor-1157 .elementor-element.elementor-element-8630b0a .elementor-heading-title {
        font-size: var(--e-global-typography-secondary-font-size);
        line-height: var(--e-global-typography-secondary-line-height);
    }

    .elementor-1157 .elementor-element.elementor-element-4cdf00e {
        text-align: left;
    }

    .elementor-1157 .elementor-element.elementor-element-d2f940d>.elementor-element-populated {
        margin: 25px 25px 0px 0px;
        --e-column-margin-right: 25px;
        --e-column-margin-left: 0px;
    }

    .elementor-bc-flex-widget .elementor-1157 .elementor-element.elementor-element-d30e883.elementor-column .elementor-widget-wrap {
        align-items: center;
    }

    .elementor-1157 .elementor-element.elementor-element-d30e883.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center;
    }

    .elementor-1157 .elementor-element.elementor-element-d30e883>.elementor-element-populated {
        margin: 0px 10px 0px 0px;
        --e-column-margin-right: 10px;
        --e-column-margin-left: 0px;
    }

    .elementor-1157 .elementor-element.elementor-element-e662429 .elementor-icon {
        font-size: 40px;
    }

    .elementor-bc-flex-widget .elementor-1157 .elementor-element.elementor-element-d8be23d.elementor-column .elementor-widget-wrap {
        align-items: center;
    }

    .elementor-1157 .elementor-element.elementor-element-d8be23d.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center;
    }

    .elementor-1157 .elementor-element.elementor-element-d8be23d>.elementor-element-populated {
        margin: 0px 0px 0px 10px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 10px;
    }

    .elementor-1157 .elementor-element.elementor-element-4b6bb2e .elementor-icon {
        font-size: 40px;
    }

    .elementor-bc-flex-widget .elementor-1157 .elementor-element.elementor-element-4513a3a.elementor-column .elementor-widget-wrap {
        align-items: center;
    }

    .elementor-1157 .elementor-element.elementor-element-4513a3a.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center;
    }

    .elementor-1157 .elementor-element.elementor-element-4513a3a>.elementor-element-populated {
        margin: 30px 10px 0px 0px;
        --e-column-margin-right: 10px;
        --e-column-margin-left: 0px;
    }

    .elementor-1157 .elementor-element.elementor-element-b9b58f6 .elementor-icon {
        font-size: 40px;
    }
}

@media(max-width: 767px) {
    .elementor-1157 .elementor-element.elementor-element-556f8b4>.elementor-container {
        min-height: 550px;
    }

    .elementor-1157 .elementor-element.elementor-element-556f8b4 {
        margin-top: -265px;
        margin-bottom: 80px;
    }

    .elementor-1157 .elementor-element.elementor-element-d7bc595>.elementor-element-populated {
        padding: 200px 0px 0px 0px;
    }

    .elementor-1157 .elementor-element.elementor-element-90a5337 {
        margin-top: 0px;
        margin-bottom: 80px;
    }

    .elementor-1157 .elementor-element.elementor-element-1ddc400 .elementor-heading-title {
        font-size: var(--e-global-typography-secondary-font-size);
        line-height: var(--e-global-typography-secondary-line-height);
    }

    .elementor-1157 .elementor-element.elementor-element-fb5ff0f>.elementor-element-populated {
        margin: 0px 0px 30px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 30px 30px 30px 30px;
    }

    .elementor-1157 .elementor-element.elementor-element-ab03f68 .elementor-heading-title {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
    }

    .elementor-1157 .elementor-element.elementor-element-585374d {
        text-align: left;
    }

    .elementor-1157 .elementor-element.elementor-element-585374d>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-1157 .elementor-element.elementor-element-e34fba7>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 29px 29px 29px 29px;
    }

    .elementor-1157 .elementor-element.elementor-element-0021dbd .elementor-heading-title {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
    }

    .elementor-1157 .elementor-element.elementor-element-6b0d112 {
        text-align: left;
    }

    .elementor-1157 .elementor-element.elementor-element-6b0d112>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-1157 .elementor-element.elementor-element-f794831>.elementor-element-populated {
        margin: 0px 0px 30px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 30px 30px 30px 30px;
    }

    .elementor-1157 .elementor-element.elementor-element-62a13c3 .elementor-heading-title {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
    }

    .elementor-1157 .elementor-element.elementor-element-682f80b {
        text-align: left;
    }

    .elementor-1157 .elementor-element.elementor-element-682f80b>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-1157 .elementor-element.elementor-element-39e2645>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 29px 29px 29px 29px;
    }

    .elementor-1157 .elementor-element.elementor-element-a0cb8f8 .elementor-heading-title {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
    }

    .elementor-1157 .elementor-element.elementor-element-a35404a {
        text-align: left;
    }

    .elementor-1157 .elementor-element.elementor-element-a35404a>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-1157 .elementor-element.elementor-element-ebe5359>.elementor-element-populated {
        padding: 20px 10px 20px 10px;
    }

    .elementor-1157 .elementor-element.elementor-element-e226238 {
        margin-top: 0px;
        margin-bottom: 80px;
    }

    .elementor-1157 .elementor-element.elementor-element-8630b0a .elementor-heading-title {
        font-size: var(--e-global-typography-secondary-font-size);
        line-height: var(--e-global-typography-secondary-line-height);
    }

    .elementor-1157 .elementor-element.elementor-element-d30e883>.elementor-element-populated {
        margin: 0px 0px 30px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 25px 25px 22px 25px;
    }

    .elementor-1157 .elementor-element.elementor-element-e662429 .elementor-icon {
        font-size: 35px;
    }

    .elementor-1157 .elementor-element.elementor-element-d8be23d>.elementor-element-populated {
        margin: 0px 0px 30px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 25px 25px 22px 25px;
    }

    .elementor-1157 .elementor-element.elementor-element-4b6bb2e .elementor-icon {
        font-size: 35px;
    }

    .elementor-1157 .elementor-element.elementor-element-4513a3a>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 25px 25px 22px 25px;
    }

    .elementor-1157 .elementor-element.elementor-element-b9b58f6 .elementor-icon {
        font-size: 35px;
    }
}

@media(min-width: 768px) {
    .elementor-1157 .elementor-element.elementor-element-72e9da2 {
        width: 65%;
    }

    .elementor-1157 .elementor-element.elementor-element-76f81e6 {
        width: 35%;
    }
}

@media(max-width: 1024px) and (min-width:768px) {
    .elementor-1157 .elementor-element.elementor-element-72e9da2 {
        width: 100%;
    }

    .elementor-1157 .elementor-element.elementor-element-76f81e6 {
        width: 100%;
    }

    .elementor-1157 .elementor-element.elementor-element-7c996f8 {
        width: 100%;
    }

    .elementor-1157 .elementor-element.elementor-element-d2f940d {
        width: 100%;
    }

    .elementor-1157 .elementor-element.elementor-element-d30e883 {
        width: 50%;
    }

    .elementor-1157 .elementor-element.elementor-element-d8be23d {
        width: 50%;
    }

    .elementor-1157 .elementor-element.elementor-element-4513a3a {
        width: 55%;
    }
}