.elementor-1395 .elementor-element.elementor-element-6aa9a54>.elementor-container {
    min-height: 550px;
}

.elementor-1395 .elementor-element.elementor-element-6aa9a54:not(.elementor-motion-effects-element-type-background),
.elementor-1395 .elementor-element.elementor-element-6aa9a54>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("testi.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-1395 .elementor-element.elementor-element-6aa9a54>.elementor-background-overlay {
    background-color: var(--e-global-color-e5e9561);
    opacity: 0.7;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1395 .elementor-element.elementor-element-6aa9a54 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: -195px;
    margin-bottom: 100px;
    padding: 0px 15px 0px 15px;
}

.elementor-1395 .elementor-element.elementor-element-ce76b46>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 150px 0px 0px 0px;
}

.elementor-1395 .elementor-element.elementor-element-ce76b46>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1395 .elementor-element.elementor-element-1964ad7 {
    text-align: center;
}

.elementor-1395 .elementor-element.elementor-element-1964ad7 .elementor-heading-title {
    color: var(--e-global-color-21bfb04);
}

.elementor-1395 .elementor-element.elementor-element-a3d670b {
    margin-top: 0px;
    margin-bottom: 100px;
    padding: 0px 15px 0px 15px;
}

.elementor-1395 .elementor-element.elementor-element-202abde>.elementor-element-populated {
    margin: 0px 15px 0px 0px;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 0px;
}

.elementor-1395 .elementor-element.elementor-element-4eafb8f:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-1395 .elementor-element.elementor-element-4eafb8f>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-primary);
}

.elementor-1395 .elementor-element.elementor-element-4eafb8f>.elementor-element-populated,
.elementor-1395 .elementor-element.elementor-element-4eafb8f>.elementor-element-populated>.elementor-background-overlay,
.elementor-1395 .elementor-element.elementor-element-4eafb8f>.elementor-background-slideshow {
    border-radius: 25px 25px 25px 25px;
}

.elementor-1395 .elementor-element.elementor-element-4eafb8f>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px -55px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 35px 35px 75px 35px;
}

.elementor-1395 .elementor-element.elementor-element-4eafb8f>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1395 .elementor-element.elementor-element-b7ae89d .elementor-icon-wrapper {
    text-align: center;
}

.elementor-1395 .elementor-element.elementor-element-b7ae89d.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-21bfb04);
}

.elementor-1395 .elementor-element.elementor-element-b7ae89d.elementor-view-framed .elementor-icon,
.elementor-1395 .elementor-element.elementor-element-b7ae89d.elementor-view-default .elementor-icon {
    color: var(--e-global-color-21bfb04);
    border-color: var(--e-global-color-21bfb04);
}

.elementor-1395 .elementor-element.elementor-element-b7ae89d.elementor-view-framed .elementor-icon,
.elementor-1395 .elementor-element.elementor-element-b7ae89d.elementor-view-default .elementor-icon svg {
    fill: var(--e-global-color-21bfb04);
}

.elementor-1395 .elementor-element.elementor-element-b7ae89d .elementor-icon {
    font-size: 60px;
}

.elementor-1395 .elementor-element.elementor-element-5fb5bf4 {
    text-align: center;
    color: var(--e-global-color-21bfb04);
}

.elementor-1395 .elementor-element.elementor-element-5bec0f6 img {
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    border-color: var(--e-global-color-21bfb04);
    border-radius: 100% 100% 100% 100%;
}

.elementor-1395 .elementor-element.elementor-element-7c7a08f {
    text-align: center;
}

.elementor-1395 .elementor-element.elementor-element-26fd67d>.elementor-element-populated {
    margin: 0px 0px 0px 15px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 15px;
}

.elementor-1395 .elementor-element.elementor-element-614ac2e:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-1395 .elementor-element.elementor-element-614ac2e>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-secondary);
}

.elementor-1395 .elementor-element.elementor-element-614ac2e>.elementor-element-populated,
.elementor-1395 .elementor-element.elementor-element-614ac2e>.elementor-element-populated>.elementor-background-overlay,
.elementor-1395 .elementor-element.elementor-element-614ac2e>.elementor-background-slideshow {
    border-radius: 25px 25px 25px 25px;
}

.elementor-1395 .elementor-element.elementor-element-614ac2e>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px -55px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 35px 35px 75px 35px;
}

.elementor-1395 .elementor-element.elementor-element-614ac2e>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1395 .elementor-element.elementor-element-06d0b8a .elementor-icon-wrapper {
    text-align: center;
}

.elementor-1395 .elementor-element.elementor-element-06d0b8a.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-21bfb04);
}

.elementor-1395 .elementor-element.elementor-element-06d0b8a.elementor-view-framed .elementor-icon,
.elementor-1395 .elementor-element.elementor-element-06d0b8a.elementor-view-default .elementor-icon {
    color: var(--e-global-color-21bfb04);
    border-color: var(--e-global-color-21bfb04);
}

.elementor-1395 .elementor-element.elementor-element-06d0b8a.elementor-view-framed .elementor-icon,
.elementor-1395 .elementor-element.elementor-element-06d0b8a.elementor-view-default .elementor-icon svg {
    fill: var(--e-global-color-21bfb04);
}

.elementor-1395 .elementor-element.elementor-element-06d0b8a .elementor-icon {
    font-size: 60px;
}

.elementor-1395 .elementor-element.elementor-element-eed0811 {
    text-align: center;
    color: var(--e-global-color-21bfb04);
}

.elementor-1395 .elementor-element.elementor-element-68e8c30 img {
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    border-color: var(--e-global-color-21bfb04);
    border-radius: 100% 100% 100% 100%;
}

.elementor-1395 .elementor-element.elementor-element-9dfeda3 {
    text-align: center;
}

.elementor-1395 .elementor-element.elementor-element-be41d8c {
    margin-top: 50px;
    margin-bottom: 0px;
}

.elementor-1395 .elementor-element.elementor-element-75fa62d>.elementor-element-populated {
    margin: 0px 15px 0px 0px;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 0px;
}

.elementor-1395 .elementor-element.elementor-element-368e487:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-1395 .elementor-element.elementor-element-368e487>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-secondary);
}

.elementor-1395 .elementor-element.elementor-element-368e487>.elementor-element-populated,
.elementor-1395 .elementor-element.elementor-element-368e487>.elementor-element-populated>.elementor-background-overlay,
.elementor-1395 .elementor-element.elementor-element-368e487>.elementor-background-slideshow {
    border-radius: 25px 25px 25px 25px;
}

.elementor-1395 .elementor-element.elementor-element-368e487>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px -55px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 35px 35px 75px 35px;
}

.elementor-1395 .elementor-element.elementor-element-368e487>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1395 .elementor-element.elementor-element-a680e5d .elementor-icon-wrapper {
    text-align: center;
}

.elementor-1395 .elementor-element.elementor-element-a680e5d.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-21bfb04);
}

.elementor-1395 .elementor-element.elementor-element-a680e5d.elementor-view-framed .elementor-icon,
.elementor-1395 .elementor-element.elementor-element-a680e5d.elementor-view-default .elementor-icon {
    color: var(--e-global-color-21bfb04);
    border-color: var(--e-global-color-21bfb04);
}

.elementor-1395 .elementor-element.elementor-element-a680e5d.elementor-view-framed .elementor-icon,
.elementor-1395 .elementor-element.elementor-element-a680e5d.elementor-view-default .elementor-icon svg {
    fill: var(--e-global-color-21bfb04);
}

.elementor-1395 .elementor-element.elementor-element-a680e5d .elementor-icon {
    font-size: 60px;
}

.elementor-1395 .elementor-element.elementor-element-59d6bd9 {
    text-align: center;
    color: var(--e-global-color-21bfb04);
}

.elementor-1395 .elementor-element.elementor-element-c836e46 img {
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    border-color: var(--e-global-color-21bfb04);
    border-radius: 100% 100% 100% 100%;
}

.elementor-1395 .elementor-element.elementor-element-610419e {
    text-align: center;
}

.elementor-1395 .elementor-element.elementor-element-d60762f>.elementor-element-populated {
    margin: 0px 0px 0px 15px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 15px;
}

.elementor-1395 .elementor-element.elementor-element-6138833:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-1395 .elementor-element.elementor-element-6138833>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-primary);
}

.elementor-1395 .elementor-element.elementor-element-6138833>.elementor-element-populated,
.elementor-1395 .elementor-element.elementor-element-6138833>.elementor-element-populated>.elementor-background-overlay,
.elementor-1395 .elementor-element.elementor-element-6138833>.elementor-background-slideshow {
    border-radius: 25px 25px 25px 25px;
}

.elementor-1395 .elementor-element.elementor-element-6138833>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px -55px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 35px 35px 75px 35px;
}

.elementor-1395 .elementor-element.elementor-element-6138833>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1395 .elementor-element.elementor-element-071a8e9 .elementor-icon-wrapper {
    text-align: center;
}

.elementor-1395 .elementor-element.elementor-element-071a8e9.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-21bfb04);
}

.elementor-1395 .elementor-element.elementor-element-071a8e9.elementor-view-framed .elementor-icon,
.elementor-1395 .elementor-element.elementor-element-071a8e9.elementor-view-default .elementor-icon {
    color: var(--e-global-color-21bfb04);
    border-color: var(--e-global-color-21bfb04);
}

.elementor-1395 .elementor-element.elementor-element-071a8e9.elementor-view-framed .elementor-icon,
.elementor-1395 .elementor-element.elementor-element-071a8e9.elementor-view-default .elementor-icon svg {
    fill: var(--e-global-color-21bfb04);
}

.elementor-1395 .elementor-element.elementor-element-071a8e9 .elementor-icon {
    font-size: 60px;
}

.elementor-1395 .elementor-element.elementor-element-7903f43 {
    text-align: center;
    color: var(--e-global-color-21bfb04);
}

.elementor-1395 .elementor-element.elementor-element-b373919 img {
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    border-color: var(--e-global-color-21bfb04);
    border-radius: 100% 100% 100% 100%;
}

.elementor-1395 .elementor-element.elementor-element-d5f8803 {
    text-align: center;
}

.elementor-1395 .elementor-element.elementor-element-30ede11 {
    margin-top: 50px;
    margin-bottom: 0px;
}

.elementor-1395 .elementor-element.elementor-element-b421c17>.elementor-element-populated {
    margin: 0px 15px 0px 0px;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 0px;
}

.elementor-1395 .elementor-element.elementor-element-3fff3a9:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-1395 .elementor-element.elementor-element-3fff3a9>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-primary);
}

.elementor-1395 .elementor-element.elementor-element-3fff3a9>.elementor-element-populated,
.elementor-1395 .elementor-element.elementor-element-3fff3a9>.elementor-element-populated>.elementor-background-overlay,
.elementor-1395 .elementor-element.elementor-element-3fff3a9>.elementor-background-slideshow {
    border-radius: 25px 25px 25px 25px;
}

.elementor-1395 .elementor-element.elementor-element-3fff3a9>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px -55px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 35px 35px 75px 35px;
}

.elementor-1395 .elementor-element.elementor-element-3fff3a9>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1395 .elementor-element.elementor-element-12e42bd .elementor-icon-wrapper {
    text-align: center;
}

.elementor-1395 .elementor-element.elementor-element-12e42bd.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-21bfb04);
}

.elementor-1395 .elementor-element.elementor-element-12e42bd.elementor-view-framed .elementor-icon,
.elementor-1395 .elementor-element.elementor-element-12e42bd.elementor-view-default .elementor-icon {
    color: var(--e-global-color-21bfb04);
    border-color: var(--e-global-color-21bfb04);
}

.elementor-1395 .elementor-element.elementor-element-12e42bd.elementor-view-framed .elementor-icon,
.elementor-1395 .elementor-element.elementor-element-12e42bd.elementor-view-default .elementor-icon svg {
    fill: var(--e-global-color-21bfb04);
}

.elementor-1395 .elementor-element.elementor-element-12e42bd .elementor-icon {
    font-size: 60px;
}

.elementor-1395 .elementor-element.elementor-element-5f8a5ce {
    text-align: center;
    color: var(--e-global-color-21bfb04);
}

.elementor-1395 .elementor-element.elementor-element-3dfbcae img {
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    border-color: var(--e-global-color-21bfb04);
    border-radius: 100% 100% 100% 100%;
}

.elementor-1395 .elementor-element.elementor-element-0e07d2d {
    text-align: center;
}

.elementor-1395 .elementor-element.elementor-element-3ecea41>.elementor-element-populated {
    margin: 0px 0px 0px 15px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 15px;
}

.elementor-1395 .elementor-element.elementor-element-afa3d93:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-1395 .elementor-element.elementor-element-afa3d93>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-secondary);
}

.elementor-1395 .elementor-element.elementor-element-afa3d93>.elementor-element-populated,
.elementor-1395 .elementor-element.elementor-element-afa3d93>.elementor-element-populated>.elementor-background-overlay,
.elementor-1395 .elementor-element.elementor-element-afa3d93>.elementor-background-slideshow {
    border-radius: 25px 25px 25px 25px;
}

.elementor-1395 .elementor-element.elementor-element-afa3d93>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px -55px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 35px 35px 75px 35px;
}

.elementor-1395 .elementor-element.elementor-element-afa3d93>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1395 .elementor-element.elementor-element-4a8841d .elementor-icon-wrapper {
    text-align: center;
}

.elementor-1395 .elementor-element.elementor-element-4a8841d.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-21bfb04);
}

.elementor-1395 .elementor-element.elementor-element-4a8841d.elementor-view-framed .elementor-icon,
.elementor-1395 .elementor-element.elementor-element-4a8841d.elementor-view-default .elementor-icon {
    color: var(--e-global-color-21bfb04);
    border-color: var(--e-global-color-21bfb04);
}

.elementor-1395 .elementor-element.elementor-element-4a8841d.elementor-view-framed .elementor-icon,
.elementor-1395 .elementor-element.elementor-element-4a8841d.elementor-view-default .elementor-icon svg {
    fill: var(--e-global-color-21bfb04);
}

.elementor-1395 .elementor-element.elementor-element-4a8841d .elementor-icon {
    font-size: 60px;
}

.elementor-1395 .elementor-element.elementor-element-9d3b94f {
    text-align: center;
    color: var(--e-global-color-21bfb04);
}

.elementor-1395 .elementor-element.elementor-element-907acc8 img {
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    border-color: var(--e-global-color-21bfb04);
    border-radius: 100% 100% 100% 100%;
}

.elementor-1395 .elementor-element.elementor-element-bcb3f56 {
    text-align: center;
}

:root {
    --page-title-display: none;
}

@media(max-width: 1024px) {
    .elementor-1395 .elementor-element.elementor-element-6aa9a54>.elementor-container {
        min-height: 500px;
    }

    .elementor-1395 .elementor-element.elementor-element-6aa9a54 {
        margin-top: -165px;
        margin-bottom: 100px;
    }

    .elementor-1395 .elementor-element.elementor-element-ce76b46>.elementor-element-populated {
        padding: 120px 0px 0px 0px;
    }
}

@media(max-width: 767px) {
    .elementor-1395 .elementor-element.elementor-element-6aa9a54>.elementor-container {
        min-height: 550px;
    }

    .elementor-1395 .elementor-element.elementor-element-6aa9a54 {
        margin-top: -265px;
        margin-bottom: 80px;
    }

    .elementor-1395 .elementor-element.elementor-element-ce76b46>.elementor-element-populated {
        padding: 200px 0px 0px 0px;
    }

    .elementor-1395 .elementor-element.elementor-element-a3d670b {
        margin-top: 0px;
        margin-bottom: 80px;
    }

    .elementor-1395 .elementor-element.elementor-element-202abde>.elementor-element-populated {
        margin: 0px 0px 50px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-1395 .elementor-element.elementor-element-26fd67d>.elementor-element-populated {
        margin: 0px 0px 50px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-1395 .elementor-element.elementor-element-be41d8c {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .elementor-1395 .elementor-element.elementor-element-75fa62d>.elementor-element-populated {
        margin: 0px 0px 50px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-1395 .elementor-element.elementor-element-d60762f>.elementor-element-populated {
        margin: 0px 0px 50px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-1395 .elementor-element.elementor-element-30ede11 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .elementor-1395 .elementor-element.elementor-element-b421c17>.elementor-element-populated {
        margin: 0px 0px 50px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-1395 .elementor-element.elementor-element-3ecea41>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
}